<div class="car-card">
  <a class="image-link" [href]="car.link">
    <img [src]="car.imageUrl" [alt]="car.name" loading="lazy" />
  </a>

  <div class="info">
    <div>
      <a class="aa" [href]="car.link">
        <h3>{{ car.name }}</h3>
      </a>
      <span class="details">{{ car.details }}</span>
    </div>

    <div>
      <div class="price-row">
        <div>
          <h4 class="price">от {{ car.pricePerDay }} AED</h4>
          <span class="per-day">в день</span>

          <div class="dropdown">
            <span>1-3 дней: <strong>{{ car.price1to3 }} AED</strong></span>
            <ul>
              <li>Цена за неделю: <span>{{ car.priceWeek }} AED</span></li>
              <li>Цена за месяц: <span>{{ car.priceMonth }} AED</span></li>
            </ul>
          </div>
        </div>

        <div class="socials">
          <a [href]="'tel:' + car.phone">
            <img src="/ICON/icons8-телефон-50.png" alt="Phone" width="34" />
          </a>
          <a [href]="'https://api.whatsapp.com/send/?phone=' + car.whatsapp" target="_blank">
            <img src="/ICON/icons8-whatsapp-50.png" alt="WhatsApp" width="34" />
          </a>
        </div>
      </div>

      <div class="buttons">
        <button class="btn outlined">Арендовать</button>
        <a class="btn filled" [href]="car.link">Детали</a>
        <a class="btn outlined" href="/ru/compare-cars">Сравнить</a>
      </div>
    </div>
  </div>
</div>
