<div>
  <div class="AdvantagesListV2_advantages__grid__gPhxL">
    <div class="AdvantagesListV2_item__cXprf">
      <div class="AdvantagesListV2_item__head__j8PZ_">
        <img
          alt="Аренда без депозита - 50x50"
          loading="lazy"
          width="50"
          height="50"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          srcset="
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fadvantages_Cards_0_image_4041fe1d07%2Fadvantages_Cards_0_image_4041fe1d07.svg&amp;w=64&amp;q=75  1x,
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fadvantages_Cards_0_image_4041fe1d07%2Fadvantages_Cards_0_image_4041fe1d07.svg&amp;w=128&amp;q=75 2x
          "
          src="/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fadvantages_Cards_0_image_4041fe1d07%2Fadvantages_Cards_0_image_4041fe1d07.svg&amp;w=128&amp;q=75"
        /><span class="AdvantagesListV2_item__head_num__1NyGz"
          ><span>&lt; </span>0<!-- -->1<span> &gt;</span></span
        >
      </div>
      <h3 class="AdvantagesListV2_item__title__GaRnu">Аренда без депозита</h3>
    </div>
    <div class="AdvantagesListV2_item__cXprf">
      <div class="AdvantagesListV2_item__head__j8PZ_">
        <img
          alt="Ндс включён в стоимость - 50x50"
          loading="lazy"
          width="50"
          height="50"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          srcset="
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_13582435_e52d4cce34%2Ffi_13582435_e52d4cce34.svg&amp;w=64&amp;q=75  1x,
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_13582435_e52d4cce34%2Ffi_13582435_e52d4cce34.svg&amp;w=128&amp;q=75 2x
          "
          src="/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_13582435_e52d4cce34%2Ffi_13582435_e52d4cce34.svg&amp;w=128&amp;q=75"
        /><span class="AdvantagesListV2_item__head_num__1NyGz"
          ><span>&lt; </span>0<!-- -->2<span> &gt;</span></span
        >
      </div>
      <h3 class="AdvantagesListV2_item__title__GaRnu">
        Ндс включён в стоимость
      </h3>
    </div>
    <div class="AdvantagesListV2_item__cXprf">
      <div class="AdvantagesListV2_item__head__j8PZ_">
        <img
          alt="Любая форма оплаты - 50x50"
          loading="lazy"
          width="50"
          height="50"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          srcset="
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_1_f09d4a84ab%2Fimage_1_f09d4a84ab.svg&amp;w=64&amp;q=75  1x,
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_1_f09d4a84ab%2Fimage_1_f09d4a84ab.svg&amp;w=128&amp;q=75 2x
          "
          src="/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_1_f09d4a84ab%2Fimage_1_f09d4a84ab.svg&amp;w=128&amp;q=75"
        /><span class="AdvantagesListV2_item__head_num__1NyGz"
          ><span>&lt; </span>0<!-- -->3<span> &gt;</span></span
        >
      </div>
      <h3 class="AdvantagesListV2_item__title__GaRnu">Любая форма оплаты</h3>
      <p class="AdvantagesListV2_item__description__23Bah">
        наличные, mastercard, visa и другие
      </p>
    </div>
    <div class="AdvantagesListV2_item__cXprf">
      <div class="AdvantagesListV2_item__head__j8PZ_">
        <img
          alt="Полный бак в подарок - 50x50"
          loading="lazy"
          width="50"
          height="50"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          srcset="
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_846347_1_e8c6f26999%2Ffi_846347_1_e8c6f26999.svg&amp;w=64&amp;q=75  1x,
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_846347_1_e8c6f26999%2Ffi_846347_1_e8c6f26999.svg&amp;w=128&amp;q=75 2x
          "
          src="/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Ffi_846347_1_e8c6f26999%2Ffi_846347_1_e8c6f26999.svg&amp;w=128&amp;q=75"
        /><span class="AdvantagesListV2_item__head_num__1NyGz"
          ><span>&lt; </span>0<!-- -->4<span> &gt;</span></span
        >
      </div>
      <h3 class="AdvantagesListV2_item__title__GaRnu">Полный бак в подарок</h3>
      <p class="AdvantagesListV2_item__description__23Bah">
        Платные дороги включены в стоимость
      </p>
    </div>
    <div class="AdvantagesListV2_item__cXprf">
      <div class="AdvantagesListV2_item__head__j8PZ_">
        <img
          alt="Новые автомобили с минимальным пробегом - 50x50"
          loading="lazy"
          width="50"
          height="50"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          srcset="
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_3_e2ec41a0a4%2Fimage_3_e2ec41a0a4.svg&amp;w=64&amp;q=75  1x,
            /_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_3_e2ec41a0a4%2Fimage_3_e2ec41a0a4.svg&amp;w=128&amp;q=75 2x
          "
          src="/_next/image?url=https%3A%2F%2Fstorage.googleapis.com%2Ftrinityrental-e51d5.appspot.com%2Fimage_3_e2ec41a0a4%2Fimage_3_e2ec41a0a4.svg&amp;w=128&amp;q=75"
        /><span class="AdvantagesListV2_item__head_num__1NyGz"
          ><span>&lt; </span>0<!-- -->5<span> &gt;</span></span
        >
      </div>
      <h3 class="AdvantagesListV2_item__title__GaRnu">
        Новые автомобили с минимальным пробегом
      </h3>
    </div>
  </div>
</div>
